<section id="about" class="about-us section">
  <div class="container">
    <div class="about-us-wrapper">
      <div class="description">
        <p>
          "Cristal Ukraine 1.1" – це гра про Україну з реальними містами України. Cristal Ukraine 1.1 сервер, який пропонує вам відчути на собі Українське  віртуальне життя в уявному Українському світі. Що вас тут чекає, добрі люди, гарна адміністрація та ще, ви зможете  знайти нових друзів або собі дівчіну :). Чекаємо саме тебе на нашому Українському проєкті під назвою CRISTAL UKRAINE 1.1

        </p>
      </div>
      <div class="image-container">
        <picture>
          <img src="./images/Screenshot_9.png" alt="фото">
        </picture>
      </div>
    </div>

    <div id="experience" class="experience">
      <ul class="accordion">
        <li class="accordion-item">
          <h3 class="accordion-title">
            <button class="accordion-button">
              
              <span class="icon-wrapper">
                <svg class="icon-arrow-down rotated" width="18" height="18">
                  <use href="./images/icons.svg#icon-arrow-down" fill="black"></use>
                </svg>
              </span>
            </button>
          </h3>
          <div class="accordion-content">
            <p>
              Вітаю! Я Власник Cristal Ukraine 1.1. Очікую вас в грі любі гравці.
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <h3 class="accordion-title">
            <button class="accordion-button">
             
              <span class="icon-wrapper">
                <svg class="icon-arrow-down" width="18" height="18">
                  <use href="./images/icons.svg#icon-arrow-down" fill="black"></use>
                </svg>
              </span>
            </button>
          </h3>
          <div class="accordion-content">
            <p>
              У грі ви побачите видатні місця, крутезні автомобілі, та українські простори!
            </p>
          </div>
        </li>
        <li class="accordion-item">
          <h3 class="accordion-title">
            <button class="accordion-button">
              
              <span class="icon-wrapper">
                <svg class="icon-arrow-down" width="18" height="18">
                  <use href="./images/icons.svg#icon-arrow-down" fill="black"></use>
                </svg>
              </span>
            </button>
          </h3>
          <div class="accordion-content">
            <p>
              Приємної гри на Cristal Ukraine 1.1!
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="aboutme-swiper-container">
      <div class="aboutme-swiper">
        <ul class="swiper-wrapper aboutme-swiper-wrapper">
          
        </ul>
      </div>
      <svg class="aboutme-slide-next">
        
      </svg>
    </div>
  </div>
</section>
