<section class="covers-section section" id="covers">
  <h2 class="covers-hidden">Covers</h2>
  <div class="content-covers">
    <ul class="marquee-inner">
      <li class="marquee">
        <a
         
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_1.png"
              alt="cover-make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_11.png"
              alt="cover-transforming-your-body"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_2.png"
              alt="cover-mimino"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_4.png"
              alt="cover-finances-masterfully"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="marquee">
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_5.png"
              alt="cover-turn-your-bisiness"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_6.png"
              alt="cover-traditional-ukrainian-artistry"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_7.png"
              alt="cover-organic-vegetables"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
           
            <img
              class="covers-image"
              src="./images/Screenshot_8.png"
              alt="cover-stay-healthy"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="marquee">
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_9.png"
              alt="cover-fresh-box"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_1.png"
              alt="cover-learning-english"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_11.png"
              alt="cover-make-up"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_2.png"
              alt="cover"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
      <li class="marquee">
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_4.png"
              alt="cover-turn-your-bisiness"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_5.png"
              alt="cover-traditional-ukrainian-artistry"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_6.png"
              alt="cover-organic-vegetables"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
        <a
          
          target="_blank"
          class="marquee__line"
        >
          <picture>
            
            <img
              class="covers-image"
              src="./images/Screenshot_7.png"
              alt="cover-stay-healthy"
              width="282"
              loading="lazy"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
