<section class="hero-section trigger-scroll-top-section">
  <div class="container">
    <h1 class="title-hero" data-aos="fade-right">
      Привіт!<br />Вітаю на сайті Cristal Ukraine 1.1
    </h1>

    <address class="mail-addres" data-aos="fade-left">
      <ul class="social-list">
        <li class="social-item">
          <a
            href="https://discord.gg/5tNAyHE8nQ"
            target="_blank"
            class="item-soc"
            >DS</a
          >
        </li>
      </ul>
      <a
        href="https://drive.google.com/file/d/1W7RUFxrd_6PC5qevFTHyTRe0dSz-VkSF/view?usp=sharing"
        target="_blank"
        class="mail-link"
        >Downloud</a
      >
    </address>
  </div>
</section>
