<div class="mob-menu mob-container is-hidden" data-modal>
  <div class="top-div">
    <button
      class="close_menu_btn"
      aria-label="button close menu"
      data-menu-close
      type="button"
    >
      <svg class="icon-btn-menu">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mob-nav">
    <ul class="mob-menu-list-2">
      <li class="menu-list-item-2">
        <a class="menu-link-text-2" href="#about">About me</a>
      </li>
      <li class="menu-list-item-2">
        <a class="menu-link-text-2" href="#projects">Projects</a>
      </li>
      <li class="menu-list-item-2">
        <a class="menu-link-text-2" href="#faq">FAQ</a>
      </li>
    </ul>
    
  </nav>

  <a class="order-btn-menu" href="#work-together"></a>
</div>
